@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sub - Commercy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Sub - Commercy</h2>
        <p>
            This application runs the purchasing control of our customers
        </p>
    </div>
    <div class="col-md-4">
        <h2>Aplication </h2>
        <p>Application to exemplify Asp .Net Core technology and development expertise.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download in</h2>
        <p>You can download the complete GitHub project.</p>
        <p><a class="btn btn-default" href="https://github.com/alexffelix/aplicationSub_Commercy">See the code;</a></p>
    </div>
</div>
